<h1>Upload a New Picture</h1>

<% if !@picture.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class = "well">
   <%= form_for @picture, html: { multipart: true } do |f| %>
   <%= f.label :attachment %>
   <%= f.file_field :attachment %>
      <%= f.label :Title %> <br>
      <%= f.text_field :name %><br>
      <%= f.label :caption %> <br>
      <%= f.text_area :memo %> <br>
      <%= f.submit "Save", class: "btn btn-primary" %>

   <% end %>
</div>
