<!DOCTYPE html>
<html>
<head>
   <title>CapSoul</title>
   <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>
</head>

<body>


<div class='container'>
    <div class="login-link">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- You can update your application layout file to show the user's name if they're logged in and some contextual links. -->
    <% if current_user %>

   Welcome <%= current_user.first_name %>!  <br>
   <%= link_to 'Home', home_path %> |
     <%= link_to 'Edit Account', account_path %> |
   <%= link_to "Logout", '/logout' %>


   <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>

   <% end %>
   </div>

     <%= yield %>


  </div>
</body>
</html>
